<MudExpansionPanels>
    <MudExpansionPanel Class="external-service-config" Disabled>
        <TitleContent>
            <MudStack AlignItems="@AlignItems.Center"
                      Justify="@Justify.Center"
                      Row>
                <div style="height: 32px; margin-top: -4px;">
                    <CitizenIdLogo
                        Style="max-height: 36px;"
                        Class="my-n1"
                        ContentId="@ContentId"/>
                </div>
            </MudStack>
            <MudStack AlignItems="@AlignItems.Center" Row>
                <MudChip T="string" Color="@Color.Default">
                    Inactive
                </MudChip>
                <MudSpacer/>
                <MudText Class="text-secondary">
                    Account connection not supported yet
                </MudText>
            </MudStack>
        </TitleContent>
        <ChildContent>
        </ChildContent>
    </MudExpansionPanel>

    <UexServiceSettingsPanel
        ContentId="@ContentId"/>

    <MudExpansionPanel Class="external-service-config" Disabled>
        <TitleContent>
            <MudStack AlignItems="@AlignItems.Center"
                      Justify="@Justify.Center"
                      Row>
                <div style="height: 32px;">
                    <FleetYardsLogo
                        Style="max-height: 38px;"
                        Class="my-n1"
                        ContentId="@ContentId"/>
                </div>
            </MudStack>
            <MudStack AlignItems="@AlignItems.Center" Row>
                <MudChip T="string" Color="@Color.Default">
                    Inactive
                </MudChip>
                <MudSpacer/>
                <MudText Class="text-secondary">
                    Account connection not supported yet
                </MudText>
            </MudStack>
        </TitleContent>
        <ChildContent>
        </ChildContent>
    </MudExpansionPanel>

    <MudExpansionPanel Class="external-service-config" Disabled>
        <TitleContent>
            <MudStack AlignItems="@AlignItems.Center"
                      Justify="@Justify.Center"
                      Row>
                <RegolithLogo
                    Style="height: 40px;"
                    Class="my-n1"
                    ContentId="@ContentId"/>
            </MudStack>
            <MudStack AlignItems="@AlignItems.Center" Row>
                <MudChip T="string" Color="@Color.Default">
                    Inactive
                </MudChip>
                <MudSpacer/>
                <MudText Class="text-secondary">
                    Account connection not supported yet
                </MudText>
            </MudStack>
        </TitleContent>
        <ChildContent>
        </ChildContent>
    </MudExpansionPanel>

    <MudExpansionPanel Class="external-service-config" Disabled>
        <TitleContent>
            <MudStack AlignItems="@AlignItems.Center"
                      Justify="@Justify.Center"
                      Row>
                <MedRunnerLogo
                    Style="height: 40px;"
                    Class="my-n1"
                    OrientationVariant="@MedRunnerLogo.Orientation.Horizontal"
                    ContentId="@ContentId"/>
            </MudStack>
            <MudStack AlignItems="@AlignItems.Center" Row>
                <MudChip T="string" Color="@Color.Default">
                    Inactive
                </MudChip>
                <MudSpacer/>
                <MudText Class="text-secondary">
                    Account connection not supported yet
                </MudText>
            </MudStack>
        </TitleContent>
        <ChildContent>
        </ChildContent>
    </MudExpansionPanel>

    <MudExpansionPanel Class="external-service-config" Disabled>
        <TitleContent>
            <MudStack AlignItems="@AlignItems.Center"
                      Justify="@Justify.Center"
                      Row>
                <div style="height: 32px;">
                    <DiscordLogo
                        Style="max-height: 26px;"
                        Class="my-n1"
                        ColorVariant="@DiscordLogo.Color.Blurple"
                        ContentId="@ContentId"/>
                </div>
            </MudStack>
            <MudStack AlignItems="@AlignItems.Center" Row>
                <MudChip T="string" Color="@Color.Default">
                    Inactive
                </MudChip>
                <MudSpacer/>
                <MudText Class="text-secondary">
                    Account connection not supported yet
                </MudText>
            </MudStack>
        </TitleContent>
        <ChildContent>
        </ChildContent>
    </MudExpansionPanel>
</MudExpansionPanels>

@code
{

    [Parameter]
    [EditorRequired]
    public required string ContentId { get; set; }

}
