@using Arkanis.Overlay.Common.Models
@using Arkanis.Overlay.Infrastructure.Services.External
@inject IDialogService DialogService
@inject UexAccountContext UexAccountContext


<MudExpansionPanel Class="external-service-config" Disabled="@(!UexAccountContext.IsAuthenticated)">
    <TitleContent>
        <MudStack AlignItems="@AlignItems.Center"
                  Justify="@Justify.Center"
                  Row>
            <UexLogo
                Style="height: 32px;"
                ContentId="@ContentId"/>
        </MudStack>
        <MudStack AlignItems="@AlignItems.Center" Row>
            @if (UexAccountContext.LastResult is { IsFailed: true, Errors.Count: > 0 } erroredResult)
            {
                <MudChip T="string" Color="@Color.Error">
                    Failed
                </MudChip>
                <MudText Class="text-secondary">
                    @erroredResult.Errors.First().Message
                </MudText>
            }
            else if (UexAccountContext.IsAuthenticated)
            {
                <MudChip T="string" Color="@Color.Success">
                    Linked
                </MudChip>
                @if (UexAccountContext.Identity.FindFirst(AccountClaimTypes.AvatarUrl) is { } avatarClaim)
                {
                    <MudAvatar Style="height: 32px; width: 32px;">
                        <MudImage
                            Src="@avatarClaim.Value"
                            Alt="Avatar"/>
                    </MudAvatar>
                }

                <MudText>
                    @if (UexAccountContext.Identity.Name is { } name)
                    {
                        @name
                    }
                    else
                    {
                        <span class="text-secondary">Account Name Unknown</span>
                    }
                </MudText>
            }
            else
            {
                <MudChip T="string" Color="@Color.Default">
                    Inactive
                </MudChip>
            }
            <MudSpacer/>
            <div class="my-n2">
                @if (UexAccountContext.IsAuthenticated)
                {
                    <MudButton Variant="@Variant.Outlined"
                               Color="@Color.Default"
                               OnClick="@(() => UexAccountSetupDialog.ShowAsync(DialogService))">
                        Connect different account
                    </MudButton>
                    <MudIconButton
                        Variant="@Variant.Outlined"
                        Color="@Color.Error"
                        Icon="@Icons.Material.Filled.LinkOff"
                        OnClick="@(() => UexAccountSetupDialog.UnlinkAsync(DialogService, UexAccountContext))"/>
                }
                else
                {
                    <MudButton Variant="@Variant.Outlined"
                               Color="@Color.Info"
                               OnClick="@(() => UexAccountSetupDialog.ShowAsync(DialogService))">
                        Connect account
                    </MudButton>
                }
            </div>
        </MudStack>
    </TitleContent>
    <ChildContent>
        <UexAccountSettings/>
    </ChildContent>
</MudExpansionPanel>

@code
{

    [Parameter]
    public string? ContentId { get; set; }

}
