@using Arkanis.Overlay.Infrastructure.Helpers
<MudDialog>
    <TitleContent>
        <MudText Typo="@Typo.h6">
            🎉 Arkanis Corporation celebrates its 1st birthday! 🎉
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudStack>
            <MudText>
                Join us in celebrating a year of innovation, community, and growth here at Arkanis Corporation!
                A <span class="text-secondary">brief</span> message from each of our organization's directors:
            </MudText>

            <DeveloperQuote Model="@DeveloperAvatar.Delta"
                            Time="@_quoteTime.Humanize()">
                <p class="text-justify">
                    Happy Birthday Arkanis! 🎂
                </p>

                <p class="text-justify">
                    It feels almost unreal that a year has passed already since we founded the Arkanis Corporation.
                    The past 12 months with this org have been some of the most fun, inspiring and rewarding moments for
                    me this year, and I am so incredibly grateful for each and every single one who accompanied us, who
                    accompanied me on this journey.
                </p>

                <p class="text-justify">
                    Can you believe that we grew from 2 friends salvaging away in their shiny new Vultures, to a
                    well-established corporation with divisions, chiefs, community representatives, and dedicated
                    developers - and all of that in the span of a few months?<br/>
                    It really is incredible, and positively overwhelming every time I stop to reflect on the journey.
                </p>

                <p class="text-justify">
                    I am absolutely awestruck that so many incredible people have chosen to be a part of this, to let
                    themselves be inspired by my - frankly sometimes pretty wild - ideas and giving us so much love and
                    support. We have been shown such heartwarming kindness by other players and organizations we met
                    during our adventures in the 'verse, with a giant of the community, UEX, even accepting our small
                    org as an official partner, going out of their way to support our endeavours.
                </p>

                <p class="text-justify">
                    Thank you, everyone, from the bottom of my heart. Thank you, for letting me live my dream, for
                    allowing and helping me build what I'm so very passionate about. Thank you for trusting and
                    believing in me, and for believing in our shared vision to build a fun, warm and welcoming
                    community home for all of us, and for supporting and building our community tools together with me.
                    None of this would be possible without you, and I appreciate every single one of you.
                </p>

                <p class="text-justify">
                    I want to especially thank those who have dedicated themselves to help shape Arkanis and develop our
                    projects. Thank you for having my back, for going above and beyond, for listening to my endless,
                    spontaneous rants, and thank you, for being my friends. ❤️
                    <br/>
                    <br/>
                    And a dedicated thank you to you, KronnY, for being outright amazing on all accounts, for being so
                    incredibly driven, inspiring and enthusiastic, and for your unwavering dedication.
                </p>

                <p class="text-justify">
                    And of course, thank <b>you</b>! Yes, you, reading this right now, for using our Overlay, and for
                    taking
                    the time to read one of my infamous walls of text :)
                </p>
            </DeveloperQuote>

            <DeveloperQuote Model="@DeveloperAvatar.KronnY"
                            Time="@_quoteTime.Humanize()">
                <p class="text-justify">
                    It will actually be 6 moths tomorrow since I joined the Arkanis Corporation community Discord.
                    I have met Delta, the heart and soul of Arkanis as I like to call him, on the United Express Discord
                    after sharing some OSS that I have made for the community there.
                    After having a developer-to-developer discussion and finally meeting someone as inspired and as
                    enthusiastic as me at that time,
                    I recall peeking into his Discord profile and being intrigued by the "join.arkanis.cc" link.
                    I just couldn't resist.
                </p>

                <p class="text-justify">
                    I was waiting in anticipation.
                    <i>What am I going to see? Where does this link lead?</i>
                    It got me to the community Discord with about 50 people there already.
                    I don't know what I expected exactly but this wasn't it.
                    I was conflicted whether to just leave the Discord immediately or not as I was not particularly
                    interested in becoming a part of a group at that time.
                    In no less than half an hour I was invited to join Delta and some other members in the game.
                    I couldn't join to play but I stayed in the server.
                </p>

                <p class="text-justify">
                    <i>...we started playing the game together.</i>
                </p>

                <p class="text-justify">
                    Later on, Delta has introduced me to a dream project of his that he was working on alone in his free
                    time.
                    The Arkanis Overlay.
                    In that moment ideas started flooding my mind.
                    I could feel the passion that we share and I just couldn't resist, again.
                </p>

                <p class="text-justify">
                    <i>...we started working on the Overlay together.<br/></i>
                </p>

                <p class="text-justify">
                    The community itself is just so special compared to any other.
                    A group of welcoming, loving, open and like-minded people from all around the world united with a
                    shared love for all things extra-terrestrial and a purpose.
                    To have fun and enjoy themselves.
                    <i>Who wouldn't want to be a part of that?</i>
                </p>

                <p class="text-justify">
                    <i>...we started planning the next steps together.<br/></i>
                </p>

                <p class="text-justify">
                    Countless hours later...
                    I find myself nearing <i>this</i> milestone while becoming one of the caretakers of the community,
                    which is now nearing the milestone of 500 members already.
                    I love every minute I have spent and invested in the community and friendships there.
                </p>

                <p class="text-justify">
                    There is much to uncover still and I am so excited to continue on this journey with some of the
                    greatest people from all around the world that I have met and came to know thanks to Arkanis.
                </p>

                <p class="text-justify">
                    Thank you Delta,<br/>
                    Thank you Arkanites,<br/>
                    Thank you Overlay users,<br/>
                    Thank you <i>all</i>.
                </p>
            </DeveloperQuote>

            <DeveloperQuote Model="@DeveloperAvatar.Watch"
                            Time="@_watchQuoteTime.Humanize()">
                <p class="text-justify">
                    When we first played together as a group, doing little salvage things,
                    I thought it was gonna be just a few people coming together to make a bit of cash.
                    Then we made a Discord Server.
                    Then an Org.
                    Then we started planning.
                    "We should have divisions!"
                    "Oh and we should plan ahead for if we get bigger so we won't have to throw over the whole Org every
                    time!"
                    That was when we had, what, barely a dozen people?
                    And now a year passed.
                    What the f**k happened?!
                </p>

                <p class="text-justify">
                    We're now at over 400 Members in the Discord, over 40 full members, and almost 30 who will follow
                    soon.
                    We have a dev team that is working on an overlay that has reached over 1000 people.
                    We have an onboarding experience and a system in place to prevent our community from generating
                    drama and toxicity that has threatened, and managed, to take huge servers down - because we learn
                    from both our and their mistakes.
                </p>

                <p class="text-justify">
                    We created a safe space, we created a place and an opportunity for those who don't want to skip on
                    any gameplay loops, but who want everyone to have as much fun as them - without doing it at someone
                    else's expense.
                </p>

                <p class="text-justify">
                    I'm proud of what we have become. And I'm looking forward to what is still waiting for us in the
                    stars.
                </p>
            </DeveloperQuote>

            <MudButton
                Variant="@Variant.Outlined"
                Color="@Color.Success"
                Href="@ExternalLinkHelper.JoinArkanisUri.ToString()"
                Target="_blank">
                Join us at Arkanis Corporation
            </MudButton>
        </MudStack>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@Cancel">Close</MudButton>
    </DialogActions>
</MudDialog>

@code
{

    private const string ContentId = "anniversary-dialog";

    private DateTime _quoteTime = new(2025, 10, 12, 16, 45, 0, DateTimeKind.Utc);
    private DateTime _watchQuoteTime = new(2025, 10, 12, 8, 38, 0, DateTimeKind.Utc);

    [CascadingParameter]
    public required IMudDialogInstance MudDialog { get; set; }

    private void Cancel()
        => MudDialog.Cancel();

    public static async Task<DialogResult> ShowAsync(IDialogService dialogService)
    {
        var dialogOptions = new DialogOptions
        {
            FullWidth = true,
            MaxWidth = MaxWidth.Medium,
            CloseOnEscapeKey = true,
        };

        return await ShowAsync(dialogService, dialogOptions);
    }

    private static async Task<DialogResult> ShowAsync(IDialogService dialogService, DialogOptions dialogOptions)
    {
        var dialogRef = await dialogService.ShowAsync<AnniversaryDialog>(null, dialogOptions);
        return await dialogRef.Result ?? DialogResult.Cancel();
    }

}
